<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.miui.personalassistant.permission.FAVORITE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <queries>
        <intent>
            <data
                android:host="unidispatch"
                android:scheme="com.baidu.tieba" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <service
            android:name=".services.OKSignService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":oksign">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="oksign" />
        </service>

        <activity
            android:name=".activities.AppFontSizeActivity"
            android:configChanges="screenSize|screenLayout|orientation|smallestScreenSize|keyboardHidden"
            android:label="@string/title_custom_font_size"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.page.photoview.PhotoViewActivity"
            android:configChanges="screenSize|screenLayout|orientation|smallestScreenSize|keyboardHidden"
            android:theme="@style/AppTheme.PhotoView"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".receivers.BootCompleteSignReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="EasyGoClient"
            android:value="true" />
        <meta-data
            android:name="use_miui_font"
            android:value="true" />
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
        <meta-data
            android:name="android.supports_size_changes"
            android:value="true" />
        <meta-data
            android:name="is_self_build"
            android:value="${is_self_build}" />

        <activity
            android:name=".MainActivityV2"
            android:configChanges="screenSize|screenLayout|orientation|smallestScreenSize|keyboard|navigation|keyboardHidden"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_new"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:roundIcon="@mipmap/ic_launcher_new_round"
            android:theme="@style/Theme.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tblite" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <data
                    android:host="unidispatch"
                    android:scheme="com.baidu.tieba" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut_new" />
        </activity>

        <activity-alias
            android:name=".MainActivityIconOld"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivityV2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut_new" />
        </activity-alias>
        <activity-alias
            android:name=".MainActivityIconInvert"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_new_invert"
            android:roundIcon="@mipmap/ic_launcher_new_invert_round"
            android:targetActivity=".MainActivityV2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut_new" />
        </activity-alias>
        <activity-alias
            android:name=".MainActivityIconThemed"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_new_themed"
            android:roundIcon="@mipmap/ic_launcher_new_themed_round"
            android:targetActivity=".MainActivityV2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut_new" />
        </activity-alias>
        <activity-alias
            android:name=".activities.MainActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_new"
            android:roundIcon="@mipmap/ic_launcher_new_round"
            android:targetActivity=".MainActivityV2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut_new" />
        </activity-alias>

        <activity
            android:name=".activities.OKSignActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huanchengfly.tieba.post.action.OKSIGN" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.OKSignTileService"
            android:exported="true"
            android:icon="@drawable/ic_oksign"
            android:label="@string/title_oksign"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.NotifyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.TranslucentThemeActivity"
            android:configChanges="screenSize|screenLayout|orientation|smallestScreenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.page.user.edit.EditProfileActivity"
            android:configChanges="screenSize|screenLayout|orientation|smallestScreenSize|keyboardHidden"
            android:label="@string/title_activity_edit_profile"
            android:windowSoftInputMode="adjustResize" />

        <receiver android:name=".receivers.AutoSignAlarm" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.huanchengfly.tieba.post.share.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_share_img" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.huanchengfly.tieba.post.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.huanchengfly.tieba.post.components.WindowInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>