name: Android CI

on:
  push:
    branches: [ "master", "4.0-dev" ]
  pull_request:
    branches: [ "master", "4.0-dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew packageRelease

      - name: Upload Package
        uses: actions/upload-artifact@v3.1.2
        with:
          name: package
          path: ${{ github.workspace }}/build/outputs/apk/release/*.apk

      - name: Upload Mapping
        uses: actions/upload-artifact@v3.1.2
        with:
          name: mapping
          path: ${{ github.workspace }}/build/outputs/apk/mapping